h1{
   color:teal;
   font-size: 100px;
   padding:0 100px 0 0;
   font-family: 'Lobster', cursive;
  margin: 0 0 0 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 15px;
}
p1 {
margin: 0 0 0 470px;
color: teal;
font-family: 'Unica One', cursive;
font-size: 20px;
line-height: 80px;
text-align: center;
}
select{
margin: 0 0 0 600px;
size: 100px;
}

u{
  color:teal;
}
li {
  display: inline;
  padding: 0 100px 0 120px;
  color: #f2f2f2;
  font-size: 20px;
  line-height: 0 auto;
}
  ul {
    padding: 5px;
    background: rgba(0,0,0,.2);
    margin: 0 130px 0 130px;
  }

body{
  background-color: rgb(225, 225, 225);
}
h2{
  font-size: 70px;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: teal;
}

img{
  max-width: 1000px;
  position: relative;
  margin: 0 0 0 130px;
vertical-align: middle;
}
}
@@media (max-width: 500px) {
  h1{ font-size: 36px;
padding: 5px;
  }
  li{padding: 5px;
  display: block;}
  .text{font-size: 11px}
}
